<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeraziDevEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_Connection" connectionString="Data Source=DESKTOP-B99B6GC;Initial Catalog=Terazi;Integrated Security=False;User ID=genesis;Password=genesis;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    <userSettings>
        <TeraziDevEx.Properties.Settings>
            <setting name="Terazi1Aktivite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Terazi2Aktivite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Terazi3Aktivite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Terazi4Aktivite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Terazi5Aktivite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TeraziIsim1" serializeAs="String">
                <value>Terazi 1</value>
            </setting>
            <setting name="TeraziIsim2" serializeAs="String">
                <value>Terazi 2</value>
            </setting>
            <setting name="TeraziIsim3" serializeAs="String">
                <value>Terazi 3</value>
            </setting>
            <setting name="TeraziIsim4" serializeAs="String">
                <value>Terazi 4</value>
            </setting>
            <setting name="TeraziIsim5" serializeAs="String">
                <value>Terazi 5</value>
            </setting>
            <setting name="TeraziCom1" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziCom2" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziCom3" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziCom4" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziCom5" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziCom6" serializeAs="String">
                <value />
            </setting>
            <setting name="TeraziIsim6" serializeAs="String">
                <value>Terazi 6</value>
            </setting>
            <setting name="Terazi6Aktivite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="conString" serializeAs="String">
                <value>Data Source=DESKTOP-B99B6GC;Initial Catalog=Terazi;Integrated Security=False;User ID=genesis;Password=genesis;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </TeraziDevEx.Properties.Settings>
    </userSettings>
</configuration>